.instruction-bg {
    color: white;
    /* padding: 20vh 0; */
    font-size: .5in;
    font-size: 3vw;
    /* background-color: rgba(106, 90, 205,.75); */
    background: none;
    opacity: 1;
    height: 50vh;
    min-height: 300px;
    width: 35vw;
    margin-right: 1em;
    top: 20vh;
}

.instruction-txt {
    color: white;
    padding: 5vh 0;
    font-size: .5in;
    font-size: 3vw;
    background-color: rgba(106, 90, 205,.75);
    height: 50vh;
    opacity: 1;
    min-height: 300px;
    width: 35vw;
    margin-right: 1em;
    top: 20vh;    
}

.instruction-txt-final {
    color: white;
    padding: 12vh 0;
    font-size: 3vw;
    background-color: rgba(106, 90, 205,.75);
    height: 50vh;
    opacity: 1;
    min-height: 300px;
    width: 35vw;
    margin-right: 1em;
    top: 20vh; 
}

.play-now {
    font-size: 1in;
    font-size: 6vw;
    color: white;
}

.heading {
    text-decoration: underline;
}

#get-started {
    background-color: #219821 !important;
    border-radius: 8px !important;
    color: white;
    font-size: 26px;
}