.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.vcontainer {
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
}

.hcontainer {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    order:1;
}

.live-chat {
    order:2;
    flex-grow: 1
}

.user-list {
    order:2;
    flex-grow: 1
}