.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.vcontainer {
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    border: 3px solid #73AD21;
}

.hcontainer {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    border: 3px solid #73AD21;
    order:1;
}

.code-space {
    order:1;
    flex-grow: 1;
    border: 3px solid #73AD21;
}

/* .chat-history {
    order:2;
    border: 3px solid #73AD21;
} */

.live-chat {
    order:2;
    border: 3px solid #73AD21;
    flex-grow: 1
}

.user-list {
    order:2;
    border: 3px solid #73AD21;
    flex-grow: 1
}

/* sidebar */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 140px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: rgb(218, 231, 241);
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    /* background: rgba(151, 105, 245, 0.98); */
    background: rgba(64, 70, 86, 0.98);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .bm-menu-wrap {
      height: auto;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: rgb(218, 231, 241);
    padding: 0.8em;
  }

  .user-side {
    /* color: rgba(64, 70, 86, 0.98); */
    color: rgba(151, 105, 245, 0.98)
  }

  /* .menu-item--small:hover {
      transform;
  } */
  
  /* Styling of overlay */
  /* .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  } */