.editorWrapper {
    position: relative;
    height: 100%;
}

.submitCode {
    position: absolute;
    width: 200px;
    margin: auto;
    height: 40px;
    bottom: 5px;
    right: 5px;
    text-align: center;
    color: #fff;
    background-color: #37373787;
    border: 2px solid #a4a4a4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 10px;
}