.frontImage{
    position: fixed;
    background-image: url("./MainImage/main-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
    max-height: 100vh;
    top: 100px;
    min-width: 100vw;

}

.instructionsBox-one {
    position:absolute;
    float: left;
    color: white;
    font-size: .5in;
    font-size: 3vw;
    padding: 20vh 0;
    background-color: rgba(106, 90, 205,.75);
    height: 70vh;
    min-height: 300px;
    width: calc(100vw - 35vw - 3em);
    margin-right: 1em;
    margin-left: 1em;
    top: 8vh;
}
.instructionsBox-two {
    position: absolute;
    right: 0;
    color: white;
    /* padding: 20vh 0; */
    font-size: .5in;
    font-size: 3vw;
    background: none;
    height: 50vh;
    min-height: 300px;
    width: 35vw;
    margin-right: 1em;
    top: 20vh;
}