.game-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
}


.codespace {
    width: 100%
}

.game-chat {
    align-self: end;
    width: 80%;
}

