.leaderboard li {
    list-style: none;
}

.leaderboard h2 {
    color: white;
}

.leaderboard hr {
    border-color: #9769f5fa;
}

.leaderboard .userIndex {
    color: #9769f5fa;
}

.userScore {
    margin-left: 10px;
    text-transform: capitalize;
    text-align: right;
}

.userName {
    margin-left: 20px;
    text-transform: capitalize;
}

.leaderboard {
    color: #dae7f1;
    padding: 40px;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.leaderboard::-webkit-scrollbar {
        width: 1em;
      }
      
    .leaderboard::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }
      
    .leaderboard::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid rgba(151, 105, 245, 0.98);
      } 