.output {

}

.code-sidebar {
    order:1;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    width: 30%;
    margin-right: 20px;
}

.code-tests {
    text-align: left;
    background-color: #faf4ff94;
    padding: 10px;
    flex-grow: 1
}

.objective {
    display: block;
    background-color: #714ab9;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    color: white;
}

.question-text {
    font-size: 24px;
}

.editor {
    order:2;
    flex-grow: 1;
    width: 70%;
    border: 3px solid #8282cb;

}

.code-container {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 8px;
}